<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- check if current user is logged in -->
{% if session.logged_in %}
    <p>You are already logged in.</p>
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Logout</button>
    </form>
<!-- otherwise -->
{% else %}
    <p>You are not logged in.</p>
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">Login</button>
    </form>
{% endif %}

</body>
<script>
    
</script>
</html>